/*image hover effect*/
.img-zoom {
  overflow: hidden;
  margin: 0 auto;
}

.img-zoom img {
  max-width: 100%;
  transition: 0.8s all ease-in-out;
}

.img-zoom:hover img {
  transform: scale(1.1);
}

.hide {
  display: none !important;
}

/*WP puts sidebar content in an li!*/
li.widget {
  list-style: none;
}

/*
///////////////////////////////RESET\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Brighter IR*/
iframe {
  width: 100%;
  border: none;
  overflow: hidden;
}

/*
//////////////////////GENERAL TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
There will be other typography styles specific to items elsewhere 
in the css
*/
p {
  padding-bottom: 1rem;
  font-size: 1rem;
  color: black;
  font-weight: normal;
}
@media (max-width: 800px) {
  p {
    font-size: 1rem;
  }
}

.content > p:first-of-type {
  font-weight: bold;
  font-size: 1.125rem;
}
@media (max-width: 500px) {
  .content > p:first-of-type {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  transition: all 0.3s linear;
}

a:hover {
  color: white;
}

ul {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.content :where(h2:not(:first-of-type), h3) {
  font-size: 1rem;
  font-weight: bold;
}

.content :where(h2:not(:first-of-type)) {
  color: #00b3b0;
}

.content h3 {
  color: #00b3b0;
}
.content h3.dark {
  color: black;
}

.content p a {
  color: #333333;
  transition: all 0.3s linear;
  border-bottom: 1px solid #00b3b0;
}

.content p a:hover {
  color: #00b3b0;
}

.small {
  font-size: 0.875rem;
}

.dark {
  color: black;
}

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: white;
  color: black;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
}

.page-transition {
  background-color: #00b3b0;
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
///////////////////////////CONTAINERS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*full width*/
.full-width {
  background-color: #00b3b0;
}

/*main container*/
.container {
  padding: 3rem 1rem 0 1rem;
  margin: 0 auto;
  max-width: 75rem;
}
@media (max-width: 800px) {
  .container {
    padding-top: 1rem;
  }
}

/*page container - for sidebar and content*/
.page-container {
  display: flex;
  margin-top: 2.5rem;
}

.content {
  width: 100%;
  max-width: 945px;
  padding-left: 1em;
}

@media (max-width: 800px) {
  .sidebar-container {
    display: none;
  }
}

.sidebar {
  min-width: 200px;
}

/*GUTENBERG ADJUSTMENTS & ADAPTATIONS*/
.wp-block-columns {
  margin-bottom: 0;
  gap: 1rem;
}

.wp-block-column:not(:first-child) {
  margin-left: 0 !important;
}

/*
///////////////////////////HEADER & NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*hero for home page*/
.hero {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  background-image: url(../img/hero-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 127px;
  max-width: 950px;
}
.hero h2 {
  color: white;
  font-size: 1.875rem;
  align-self: center;
  padding-left: 2rem;
  line-height: 1;
  flex: 3;
}
@media (max-width: 1200px) {
  .hero h2 {
    font-size: 1.25rem;
  }
}
.hero button {
  align-self: flex-end;
  flex: 1;
}
@media (max-width: 800px) {
  .hero {
    display: none;
  }
}

.nav-header {
  display: flex;
  gap: 5rem;
}
@media (max-width: 800px) {
  .nav-header {
    gap: 2rem;
  }
}

.menu-container {
  display: none;
}
@media (max-width: 800px) {
  .menu-container {
    display: block;
  }
}

.nav-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #00b3b0;
  transition: all 0.3s linear;
  width: 50px;
}

.nav-toggle:hover {
  background-color: #008f8c;
  cursor: pointer;
}

.mobile-menu-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

/*shared styles for menu ul*/
#nav_menu-2 {
  list-style-type: none;
}

.mobile-menu,
.menu {
  font-size: 0.875rem;
  padding: 0 5px;
}
.mobile-menu a,
.menu a {
  padding: 0.5rem 0;
  transform: all 0.3s linear;
  color: #333333;
  display: inline-block;
  width: 90%;
  transition: all 0.3s linear;
}
.mobile-menu a:hover,
.menu a:hover {
  color: white;
}
.mobile-menu li,
.menu li {
  padding-left: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  transition: all 0.3s linear;
  background-color: #f3f5f7;
}
.mobile-menu li:last-of-type,
.menu li:last-of-type {
  margin-top: 1rem;
}
.mobile-menu li:nth-of-type(10),
.mobile-menu li:nth-of-type(11),
.menu li:nth-of-type(10),
.menu li:nth-of-type(11) {
  border-bottom: none;
}
.mobile-menu li:nth-of-type(10):hover,
.mobile-menu li:nth-of-type(11):hover,
.menu li:nth-of-type(10):hover,
.menu li:nth-of-type(11):hover {
  border-bottom: none;
}
.mobile-menu .fa-chevron-right,
.menu .fa-chevron-right {
  color: #333333;
  padding-right: 5px;
}
.mobile-menu li:hover,
.menu li:hover {
  background-color: #00b3b0;
  border-bottom: 1px solid white;
}
.mobile-menu li:last-of-type:hover,
.menu li:last-of-type:hover {
  border-bottom: none;
}
.mobile-menu li.last-of-type:hover,
.menu li.last-of-type:hover {
  border-bottom: none;
}
.mobile-menu li:hover:before,
.menu li:hover:before {
  color: white;
}

.mobile-menu {
  margin-top: 0.5rem;
}

@media (max-width: 800px) {
  .page-title {
    display: none;
  }
}

.page-title-mobile h1 {
  display: none;
}
@media (max-width: 800px) {
  .page-title-mobile h1 {
    display: block;
    font-size: 1.5rem;
  }
}

.home .page-title-mobile h1 {
  display: none;
}

.sidebar {
  overflow: hidden;
}
.sidebar h2 {
  font-size: 1.125rem;
  padding: 10px 0 0 10px;
}

/*logo hover effect*/
.logo {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
.logo:hover {
  cursor: pointer;
}

.page-homepage .logo {
  cursor: default;
}

.go-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 127px;
  height: 127px;
  z-index: -2;
  transition: all 0.3s linear;
}

.go-home-hover {
  height: 50px;
  width: 50px;
  top: -3px;
  left: -3px;
  -webkit-box-shadow: -2px -2px 0px 1px rgba(0, 179, 176, 0.97);
  box-shadow: -2px -2px 0px 1px rgba(0, 179, 176, 0.97);
  cursor: pointer;
}

.hero-btn {
  align-self: flex-end;
}

/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.footer-container {
  background-color: #f3f5f7;
  padding-bottom: 10rem;
  margin-top: 5rem;
}

.footer-inner-container {
  display: flex;
  gap: 2rem;
}
.footer-inner-container h3 {
  color: #00b3b0;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.footer-inner-container p {
  font-size: 0.875rem;
  font-weight: normal;
}
.footer-inner-container a {
  color: #333333;
  transition: all 0.3s linear;
}
.footer-inner-container a:hover {
  text-decoration: underline;
}
@media (max-width: 800px) {
  .footer-inner-container {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .footer-inner-container .wp-block-column {
    align-self: center;
  }
}

.footer-inner-container > * {
  flex-basis: 100%;
}

/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
.fa-arrow-right {
  transition: all 0.3s linear;
}

button, .blocks-row-1 .wp-block-column:nth-of-type(2) a, .blocks-row-2 .wp-block-column:nth-of-type(2) a, .hero button {
  border: none;
  padding: 0.5rem 1.15rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}
button a, .blocks-row-1 .wp-block-column:nth-of-type(2) a a, .blocks-row-2 .wp-block-column:nth-of-type(2) a a, .hero button a {
  color: white;
}
button:hover, .blocks-row-1 .wp-block-column:nth-of-type(2) a:hover, .blocks-row-2 .wp-block-column:nth-of-type(2) a:hover {
  -webkit-box-shadow: 5px 5px 0px -2px #ffffff;
  box-shadow: 5px 5px 0px -2px #ffffff;
}
button:hover .fa-arrow-right, .blocks-row-1 .wp-block-column:nth-of-type(2) a:hover .fa-arrow-right, .blocks-row-2 .wp-block-column:nth-of-type(2) a:hover .fa-arrow-right {
  transform: translateX(15px);
}

.hero button, .hero .blocks-row-1 .wp-block-column:nth-of-type(2) a, .blocks-row-1 .wp-block-column:nth-of-type(2) .hero a, .hero .blocks-row-2 .wp-block-column:nth-of-type(2) a, .blocks-row-2 .wp-block-column:nth-of-type(2) .hero a {
  background-color: #00b3b0;
  margin: 0 10px 10px 0;
}

button.nav-toggle:hover, .blocks-row-1 .wp-block-column:nth-of-type(2) a.nav-toggle:hover, .blocks-row-2 .wp-block-column:nth-of-type(2) a.nav-toggle:hover {
  padding: 0.5rem 1.15rem;
}

.btn-link, .go-back {
  border: none;
  padding: 0.5rem 1.15rem;
  color: white !important;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear !important;
  display: inline-block;
  background-color: #00b3b0;
  margin-top: 0.5rem;
}
.btn-link .fa-arrow-right, .go-back .fa-arrow-right {
  padding-left: 5px;
}
.btn-link:hover, .go-back:hover {
  -webkit-box-shadow: 5px 5px 0px -2px #008f8c;
  box-shadow: 5px 5px 0px -2px #008f8c;
}
.btn-link:hover .fa-arrow-right, .go-back:hover .fa-arrow-right {
  transform: translateX(15px);
}

.go-back .fa-arrow-left {
  padding-right: 5px;
  transition: all 0.3s linear;
}
.go-back:hover {
  -webkit-box-shadow: 5px 5px 0px -2px #008f8c;
  box-shadow: 5px 5px 0px -2px #008f8c;
}
.go-back:hover .fa-arrow-left {
  transform: translateX(-15px);
}

.sidebar-container .go-back {
  width: 100%;
}

.hero-btn {
  display: block;
}

a.block-btn {
  display: block;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #00b3b0;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 5px;
  color: white;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
@media (max-width: 500px) {
  .top-link {
    display: none;
  }
}

.show-link {
  visibility: visible;
  z-index: 100;
}
@media (max-width: 500px) {
  .show-link {
    display: none;
  }
}

@keyframes bounce {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*//////////////HOME\\\\\\\\\\\\\\\\\\\\*/
/*Highlights blocks*/
.highlights {
  text-align: center;
  background-color: #f3f5f7;
  padding: 0.75rem 1rem;
}
.highlights .wp-block-column p:first-of-type {
  color: #00b3b0;
  font-size: 5.313rem;
}
@media (max-width: 1100px) {
  .highlights .wp-block-column p:first-of-type {
    font-size: 2.25rem;
  }
}
.highlights .wp-block-column p {
  font-size: 0.875rem;
}
.highlights h2 {
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}

@media (max-width: 800px) {
  .wp-block-columns.highlights {
    flex-direction: column;
  }
}

/*blocks - first row (after Highlights)*/
.blocks-row-1,
.blocks-row-2 {
  margin-top: 1rem;
}
.blocks-row-1 .wp-block-column,
.blocks-row-2 .wp-block-column {
  padding: 1rem 0.5rem 0.25rem 1.5rem;
}
.blocks-row-1 p,
.blocks-row-2 p {
  font-size: 0.875rem;
}
.blocks-row-1 h3,
.blocks-row-2 h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.blocks-row-1 .fa-arrow-right,
.blocks-row-2 .fa-arrow-right {
  padding-left: 1rem;
}

.blocks-row-1 .wp-block-column:nth-of-type(1) {
  background-color: #333333;
}
.blocks-row-1 .wp-block-column:nth-of-type(1) h3,
.blocks-row-1 .wp-block-column:nth-of-type(1) p {
  color: white;
}
.blocks-row-1 .wp-block-column:nth-of-type(1) h3 {
  margin-bottom: 2rem;
}
.blocks-row-1 .wp-block-column:nth-of-type(1) h4 {
  font-size: 1.875rem;
  color: #00b3b0;
  font-weight: bold;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
}
.blocks-row-1 .wp-block-column:nth-of-type(1) span {
  color: #00b3b0;
  font-weight: bold;
}
.blocks-row-1 .wp-block-column:nth-of-type(1) p:first-of-type {
  padding-top: 1rem;
}
.blocks-row-1 .wp-block-column:nth-of-type(2) {
  background-color: #00b3b0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blocks-row-1 .wp-block-column:nth-of-type(2) h3,
.blocks-row-1 .wp-block-column:nth-of-type(2) p {
  color: white;
}
.blocks-row-1 .wp-block-column:nth-of-type(2) p:last-of-type {
  align-self: flex-end;
}
.blocks-row-1 .wp-block-column:nth-of-type(2) a {
  background-color: #00b3b0;
  border: 1px solid white;
}
.blocks-row-1 .wp-block-column:nth-of-type(3) {
  background-color: #f3f5f7;
}
.blocks-row-1 .wp-block-column:nth-of-type(3) h3 {
  margin-bottom: 2rem;
}
.blocks-row-1 .wp-block-column:nth-of-type(3) h4 {
  font-weight: bold;
  padding-top: 0.5rem;
}
.blocks-row-1 .wp-block-column:nth-of-type(3) h4:first-of-type {
  border-top: 1px solid rgba(51, 51, 51, 0.5);
}
.blocks-row-1 .wp-block-column:nth-of-type(3) p:not(:last-child) {
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}
@media (max-width: 900px) {
  .blocks-row-1 {
    flex-direction: column;
    gap: 0.5rem;
  }
  .blocks-row-1 .wp-block-column:not(:first-child) {
    margin-left: 0;
  }
}

.blocks-row-2 .wp-block-column:nth-of-type(1) {
  background-color: #00b3b0;
  color: white;
}
.blocks-row-2 .wp-block-column:nth-of-type(1) h3 {
  margin-bottom: 2rem;
}
.blocks-row-2 .wp-block-column:nth-of-type(1) h4 {
  font-weight: bold;
  padding-top: 0.5rem;
}
.blocks-row-2 .wp-block-column:nth-of-type(1) h4:first-of-type {
  border-top: 1px solid rgba(51, 51, 51, 0.5);
}
.blocks-row-2 .wp-block-column:nth-of-type(1) p {
  color: white;
}
.blocks-row-2 .wp-block-column:nth-of-type(1) p:not(:last-child) {
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.blocks-row-2 .wp-block-column:nth-of-type(2) {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blocks-row-2 .wp-block-column:nth-of-type(2) h3,
.blocks-row-2 .wp-block-column:nth-of-type(2) p {
  color: white;
}
.blocks-row-2 .wp-block-column:nth-of-type(2) p:last-of-type {
  align-self: flex-end;
}
.blocks-row-2 .wp-block-column:nth-of-type(2) a {
  background-color: rgba(51, 51, 51, 0.5);
  border: 1px solid white;
}
@media (max-width: 900px) {
  .blocks-row-2 {
    flex-direction: column;
    gap: 0.5rem;
  }
  .blocks-row-2 .wp-block-column:not(:first-child) {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .blocks-row-1 .wp-block-column,
.blocks-row-2 .wp-block-column {
    display: grid !important;
    gap: 1rem;
  }

  .blocks-row-2 .wp-block-column:last-of-type {
    display: none !important;
  }
}
/*//////////////BOARD\\\\\\\\\\\\\\\\\\\\*/
.board-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 1000px) {
  .board-grid {
    grid-template-columns: 1fr;
  }
}
.board-grid h2 {
  font-size: 1rem;
}
.board-grid h2:first-of-type {
  color: #00b3b0;
  font-weight: bold;
  padding-top: 1rem;
}
.board-grid p {
  font-size: 0.875rem;
}
.board-grid a {
  color: #00b3b0;
  transition: all 0.3s linear;
}
.board-grid a:hover {
  opacity: 0.8;
}
.board-grid .read-more {
  align-self: flex-start;
  margin-top: auto;
}

.board-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*////////////////PAGE - CALENDAR\\\\\\\\\\\\\\\\\\\*/
.page-financial-calendar .content > h2 {
  color: #00b3b0;
  font-weight: bold;
  font-size: 1.875rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  gap: 0;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .calendar-grid {
    width: 95%;
  }
}
.calendar-grid .title:nth-of-type(1) {
  border-top: 1px solid rgba(51, 51, 51, 0.5);
}
.calendar-grid .date:nth-of-type(2) {
  border-top: 1px solid rgba(51, 51, 51, 0.5);
}
@media (max-width: 500px) {
  .calendar-grid .date:nth-of-type(2) {
    border-top: none;
  }
}
.calendar-grid .title {
  font-weight: bold;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  padding: 0.5rem 0;
}
@media (max-width: 500px) {
  .calendar-grid .title {
    border: none;
  }
}
.calendar-grid .date {
  text-align: right;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  padding: 0.5rem 0;
}
@media (max-width: 500px) {
  .calendar-grid {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .calendar-grid .date {
    text-align: left;
  }
}

/*////////////////PAGE - IR CONTACTS\\\\\\\\\\\\\\\\\\\*/
.contacts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  gap: 1rem;
}
@media (max-width: 500px) {
  .contacts-grid {
    grid-template-columns: 1fr;
  }
}
.contacts-grid .contacts-item {
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  padding-bottom: 1rem;
}
.contacts-grid .contacts-item h3 {
  color: #00b3b0;
  font-weight: bold;
}
.contacts-grid .contacts-item p {
  padding-bottom: 0;
}
.contacts-grid .contacts-item p:nth-of-type(5) {
  padding-top: 1rem;
}
.contacts-grid .contacts-item a {
  color: black;
}
.contacts-grid .contacts-item a:hover {
  text-decoration: underline;
}

/*////////////////PAGE - IR CONTACTS\\\\\\\\\\\\\\\\\\\*/
.page-investment-case .content ul {
  list-style-type: square;
}
.page-investment-case .content ul li {
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.page-investment-case .content ul li::marker {
  color: #00b3b0;
  font-size: 1.5rem;
}
.page-investment-case .full-width {
  margin-top: 2rem;
}
.page-investment-case .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
@media (max-width: 800px) {
  .page-investment-case .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .page-investment-case .grid {
    grid-template-columns: 1fr;
  }
}
.page-investment-case .grid .case-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  align-items: center;
}
.page-investment-case .grid .case-item img {
  width: 50%;
}
@media (max-width: 500px) {
  .page-investment-case .grid .case-item img {
    width: 30%;
  }
}
.page-investment-case .grid .case-item p {
  font-size: 0.875rem;
  color: white;
  text-align: center;
}

.investment-cases {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem;
}

/*//////////////IPO DOCS\\\\\\\\\\\\\\\\\\\\*/
.page-ipo-documents table th {
  text-align: left;
}
.page-ipo-documents table th,
.page-ipo-documents table td {
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
}
.page-ipo-documents table td:first-of-type {
  width: 90%;
}
.page-ipo-documents table a {
  border-bottom: none;
  color: black;
}
.page-ipo-documents table a:hover {
  color: #00b3b0;
}

/*# sourceMappingURL=style.css.map */
