@use "../abstracts/variables" as *;
/*//////////////BOARD\\\\\\\\\\\\\\\\\\\\*/

.board-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    @include below(1000px) {
        grid-template-columns: 1fr;
    }
    h2 {
        font-size: $fs-16;
    }
    h2:first-of-type {
        color: $clr-main;
        font-weight: bold;
        padding-top: 1rem;
    }
    p {
        font-size: $fs-14;
    }
    a {
        color: $clr-main;
        transition: $transition;
        &:hover {
            opacity: 0.8;
        }
    }
    .read-more {
        align-self: flex-start;
        margin-top: auto;
    }
}
.board-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
