@use "../abstracts/variables" as *;
@use "../components/buttons";
/*//////////////HOME\\\\\\\\\\\\\\\\\\\\*/

/*Highlights blocks*/
.highlights {
    text-align: center;
    background-color: $clr-grey;
    padding: 0.75rem 1rem;
    .wp-block-column p:first-of-type {
        color: $clr-main;
        font-size: $fs-85;
        @include below(1100px) {
            font-size: $fs-36;
        }
    }
    .wp-block-column p {
        font-size: $fs-14;
    }
    h2 {
        font-weight: bold;
        padding-bottom: 1rem;
        border-bottom: 1px solid $clr-dark-grey;
    }
}
.wp-block-columns.highlights {
    @include below($br-medium) {
        flex-direction: column;
    }
}

/*blocks - first row (after Highlights)*/
.blocks-row-1,
.blocks-row-2 {
    margin-top: 1rem;
    .wp-block-column {
        padding: 1rem 0.5rem 0.25rem 1.5rem;
    }
    p {
        font-size: $fs-14;
    }
    h3 {
        font-size: $fs-24;
        font-weight: bold;
        color: $clr-white;
    }
    .fa-arrow-right {
        padding-left: 1rem;
    }
}
.blocks-row-1 {
    .wp-block-column:nth-of-type(1) {
        background-color: $clr-dark;
        h3,
        p {
            color: $clr-white;
        }
        h3 {
            margin-bottom: 2rem;
        }
        h4 {
            font-size: $fs-30;
            color: $clr-main;
            font-weight: bold;
            border-top: 1px solid $clr-white;
            border-bottom: 1px solid $clr-white;
            padding: 0.5rem 0;
        }
        span {
            color: $clr-main;
            font-weight: bold;
        }
        p:first-of-type {
            padding-top: 1rem;
        }
    }
    .wp-block-column:nth-of-type(2) {
        background-color: $clr-main;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3,
        p {
            color: $clr-white;
        }

        p:last-of-type {
            align-self: flex-end;
        }
        a {
            @extend button;
            background-color: $clr-main;
            border: 1px solid $clr-white;
        }
    }
    .wp-block-column:nth-of-type(3) {
        background-color: $clr-grey;
        h3 {
            margin-bottom: 2rem;
        }
        h4 {
            font-weight: bold;
            padding-top: 0.5rem;
        }
        h4:first-of-type {
            border-top: 1px solid $clr-dark-grey;
        }
        p:not(:last-child) {
            border-bottom: 1px solid $clr-dark-grey;
            padding-bottom: 0.5rem;
        }
    }
    @include below(900px) {
        flex-direction: column;
        gap: 0.5rem;
        .wp-block-column:not(:first-child) {
            margin-left: 0;
        }
    }
}
.blocks-row-2 {
    .wp-block-column:nth-of-type(1) {
        background-color: $clr-main;
        color: $clr-white;
        h3 {
            margin-bottom: 2rem;
        }
        h4 {
            font-weight: bold;
            padding-top: 0.5rem;
        }
        h4:first-of-type {
            border-top: 1px solid $clr-dark-grey;
        }
        p {
            color: $clr-white;
        }
        p:not(:last-child) {
            border-bottom: 1px solid $clr-dark-grey;
            padding-bottom: 0.5rem;
        }
    }
}
.blocks-row-2 {
    .wp-block-column:nth-of-type(2) {
        background-color: $clr-dark;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3,
        p {
            color: $clr-white;
        }

        p:last-of-type {
            align-self: flex-end;
        }
        a {
            @extend button;
            background-color: $clr-dark-grey;
            border: 1px solid $clr-white;
        }
    }

    @include below(900px) {
        flex-direction: column;
        gap: 0.5rem;
        .wp-block-column:not(:first-child) {
            margin-left: 0;
        }
    }
}
@include below(900px) {
    .blocks-row-1 .wp-block-column,
    .blocks-row-2 .wp-block-column {
        display: grid !important;
        gap: 1rem;
    }
    .blocks-row-2 .wp-block-column:last-of-type {
        display: none !important;
    }
}
