@use "../abstracts/variables" as *;
@use "../base" as *;

/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-stack;
  background: $clr-white;
  color: $clr-black;
  font-size: $font-size-base;
  line-height: 1.5;
  margin: 0 auto;
}
.page-transition {
  background-color: $clr-main;
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
