@use "../abstracts/variables" as *;
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.footer-container {
    background-color: $clr-grey;
    padding-bottom: 10rem;
    margin-top: 5rem;
}
.footer-inner-container {
    display: flex;
    gap: 2rem;
    h3 {
        color: $clr-main;
        font-weight: bold;
        font-size: $fs-16;
        margin-bottom: 1rem;
    }
    p {
        font-size: $fs-14;
        font-weight: normal;
    }
    a {
        color: $clr-dark;
        transition: $transition;
        &:hover {
            text-decoration: underline;
        }
    }
    @include below($br-medium) {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .wp-block-column {
        @include below($br-medium) {
            align-self: center;
        }
    }
}

.footer-inner-container > * {
    flex-basis: 100%;
}
