@use "../abstracts/variables" as *;
/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
.fa-arrow-right {
    transition: $transition;
}
button {
    border: none;
    padding: 0.5rem 1.15rem;
    color: $clr-white;
    font-weight: bold;
    cursor: pointer;
    transition: $transition;
    a {
        color: $clr-white;
    }
    &:hover {
        //opacity: 0.8;
        //padding-right: 2rem;
        -webkit-box-shadow: 5px 5px 0px -2px #ffffff;
        box-shadow: 5px 5px 0px -2px #ffffff;
        .fa-arrow-right {
            transform: translateX(15px);
        }
    }
}

.hero {
    button {
        @extend button;
        background-color: $clr-main;
        margin: 0 10px 10px 0;
    }
}
button.nav-toggle {
    &:hover {
        padding: 0.5rem 1.15rem;
    }
}
.btn-link {
    border: none;
    padding: 0.5rem 1.15rem;
    color: $clr-white !important;
    font-weight: bold;
    cursor: pointer;
    transition: $transition !important ;
    display: inline-block;
    background-color: $clr-main;
    margin-top: 0.5rem;
    .fa-arrow-right {
        padding-left: 5px;
    }
    &:hover {
        //padding-right: 2rem;
        -webkit-box-shadow: 5px 5px 0px -2px $clr-main-dark;
        box-shadow: 5px 5px 0px -2px $clr-main-dark;
        .fa-arrow-right {
            transform: translateX(15px);
        }
    }
}
.go-back {
    @extend .btn-link;

    .fa-arrow-left {
        padding-right: 5px;
        transition: $transition;
    }
    &:hover {
        //padding-right: 2rem;
        -webkit-box-shadow: 5px 5px 0px -2px $clr-main-dark;
        box-shadow: 5px 5px 0px -2px $clr-main-dark;
        .fa-arrow-left {
            transform: translateX(-15px);
        }
    }
}
.sidebar-container .go-back {
    width: 100%;
}

// .hero-btn {
//     transform: translateX(-100px);
// }

.hero-btn {
    display: block;
}
a.block-btn {
    display: block;
}
//back to top button
.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: $clr-main;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 5px;
    color: $clr-white;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
    @include below($br-small) {
        display: none;
    }
}
.show-link {
    visibility: visible;
    z-index: 100;
    @include below($br-small) {
        display: none;
    }
}
@keyframes bounce {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
