@use "../abstracts/variables" as *;
/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
.fa-arrow-right {
    transition: $transition;
}
button {
    border: none;
    padding: 0.5rem 1.15rem;
    color: $clr-white;
    font-weight: bold;
    cursor: pointer;
    transition: $transition;
    a {
        color: $clr-white;
    }
    &:hover {
        //opacity: 0.8;
        padding-right: 2rem;
        -webkit-box-shadow: 5px 5px 0px -2px #ffffff;
        box-shadow: 5px 5px 0px -2px #ffffff;
        .fa-arrow-right {
            transform: translateX(20px);
        }
    }
}

.hero {
    button {
        @extend button;
        background-color: $clr-main;
        margin: 0 10px 10px 0;
    }
}
button.nav-toggle {
    &:hover {
        padding: 0.5rem 1.15rem;
    }
}
.read-more {
    border: none;
    padding: 0.5rem 1.15rem;
    color: $clr-white !important;
    font-weight: bold;
    cursor: pointer;
    transition: $transition;
    display: inline-block;
    background-color: $clr-main;
    margin-top: 0.5rem;
    &:hover {
        padding-right: 2rem;
        -webkit-box-shadow: 5px 5px 0px -2px $clr-main-dark;
        box-shadow: 5px 5px 0px -2px $clr-main-dark;
        .fa-arrow-right {
            transform: translateX(20px);
        }
    }
}
// .hero-btn {
//     transform: translateX(-100px);
// }
a.test {
    background-color: blue;
    display: inline-block;
}
.hero-btn {
    display: block;
}
