@use "../abstracts/variables" as *;
/*
//////////////////////GENERAL TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
There will be other typography styles specific to items elsewhere 
in the css
*/
p {
  padding-bottom: 1rem;
  font-size: $fs-16;
  color: $clr-black;
  font-weight: normal;
  @include below($br-medium) {
    font-size: $fs-16;
  }
}
.content > p:first-of-type {
  font-weight: bold;
  font-size: $fs-18;
}
a {
  text-decoration: none;
  transition: $transition;
}
a:hover {
  color: $clr-white;
}
ul {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.content :where(h2:not(:first-of-type), h3) {
  font-size: $fs-16;
  font-weight: bold;
}
.content :where(h2:not(:first-of-type)) {
  color: $clr-main;
}
.content h3 {
  color: $clr-main;
}
.content p a {
  color: #333333;
  transition: all 0.3s linear;
  border-bottom: 1px solid $clr-main;
}
.content p a:hover {
  color: $clr-main;
}
.small {
  font-size: $fs-14;
}
